<div class="row">
  <div class="col-md-9">

    <div class="panel panel-default">
      <div class="panel-body panel-block">
        Boîte de réception
        </div>
      <div class="panel-body">
        <div class="container">

          <% @conversations.each do |conversation| %>
              <% other = current_user == conversation.sender ? conversation.recipient : conversation.sender %>
              <%= link_to conversation_messages_path(conversation) do %>

                  <div class="row conversation">
                    <% if conversation.messages.any? %>
                        <div class="col-md-2">
                          <%= image_tag avatar_url(other), class: "img-circle avatar-medium" %>
                        </div>
                        <div class="col-md-3">
                          <%= other.fullname %> <br/>
                          <%= conversation.messages.last.message_time %>
                        </div>

                        <div class="col-md-6" style="text-align: center;">
                          <%= conversation.messages.last.context %>
                        </div>

                    <% end %>

                  </div>
                  <hr/>

              <% end %>

          <% end %>

        </div>
      </div>
    </div>
  </div>

<br/><br/><br/><br/>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <i class="far fa-lightbulb fa-2x text-babu"></i>
        <br/><br/>

        <% if !@rooms.blank? %>
          <i class="info-i">Echangez avec vos clients, pour leur fournir des informations supplémentaires sur votre salle.</i>
        <% else %>
          <i class="info-i">Echangez avec le propriétaire de la salle si vous souhaitez obtenir des informations supplémentaires.</i>
        <% end %>
      </div>
    </div>
  </div>



</div>
