<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="title-navbar text-center">Type d'évènement</div>
    <div class="panel panel-default">

      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

          <div class="row form-group">
            <div class="col-md-4">
              <%= f.check_box :is_wedding %> Mariage
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_baptism %> Baptême
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_birthday %> Anniversaire
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-4">
              <%= f.check_box :is_special %> Special
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_meeting %> Réunion
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_lotto %> Loto
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-4">
              <%= f.check_box :is_gathering %> Rassemblement
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_concert %> Concert
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_show %> Spectacle
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-4">
              <%= f.check_box :is_seminary %> Séminaire
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_conference %> Conférence
            </div>

          <br/><br/>

          <div class="text-center">
            <%= f.submit "Enregistrer", class: "btn btn-form" %>
          </div>


          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
