<div class="title-navbar">Créer votre salle</div>
<div class="panel panel-default">

  <div class="panel-body">
    <div class="container">

    <%= form_for @room do |f| %>

    <div class="row">
      <div class="col-md-4 select">
        <div class="form-group">
          <label>Type de salle</label>
          <%= f.select :room_type, [["salle communale", "salle communale"], ["propriété de prestige", "propriété de prestige"], ["salle de reception", "salle de reception"], ["jardin", "jardin"], ["autre", "autre"]],
                        id: "room_type", prompt: "Select...", class: "form-control" %>

        </div>
      </div>

      <div class="col-md-4 select">
        <div class="form-group">
          <label>Capacité</label>
          <%= f.select :volume, [["50", 50], ["100", 100], ["200", 200], ["300", 300], ["+500", 500]],
                        id: "volume", prompt: "Select...", class: "form-control" %>

        </div>
      </div>

      <div class="col-md-4 select">
        <div class="form-group">
          <label>Surface</label>
          <%= f.select :surface, [["100", "100"], ["200", "200"], ["300", "300"], ["400", "400"], ["500", "500"]],
                        id: "surface", prompt: "Select...", class: "form-control" %>

        </div>
      </div>

      <div class="col-md-4 select">
        <div class="form-group">
          <label>Type de réservation</label>
          <%= f.select :instant,
          Room.instants.map{|key,value| [key.humanize, key]},
          selected: @room.Request? ? 'Request' : 'Instant',
          id: 'instant', prompt: "Select...", class: "form-control" %>

        </div>
      </div>

    </div>

  <div><%= f.submit "Créer ma salle", class: "btn btn-normal" %></div>
    <% end %>

    </div>
  </div>
</div>
